# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Workspace files
*.code-workspace

# Executables
*.exe
*.out
*.app
.idea/misc.xml
.idea/mobycpp.iml
.idea/modules.xml
/.idea/
/cmake-build-debug/
/build
/.vscode
/.vs/